config setup
    uniqueids=never

conn ikev2ios
    keyexchange=ikev2
    ike = aes256-sha256-modp1024,3des-sha1-modp1024,aes256-sha1-modp1024!
    esp = aes256-sha256,3des-sha1,aes256-sha1!
    left = %any
    leftid = {{strongswan_connection}}
    leftsendcert = always
    leftcert = serverCert.pem
    leftsubnet=0.0.0.0/0
    right = %any
    #rightfirewall=yes
    rightauth=eap-mschapv2
    rightsourceip=10.99.1.0/24
    eap_identity=%any
    auto=add
    #fragmentation = yes

conn ikey1android
    keyexchange = ikev1
    left = %any
    leftid = {{strongswan_connection}}
    leftsendcert = always
    leftcert = serverCert.pem
    leftsubnet=0.0.0.0/0
    right=%any
    rightsourceip=10.99.1.0/24
    rightauth=xauth
    auto=add
